 services:
   rabbit-forum:
     build:
       context: .
       args:
         INSTALL_DEV_DEPENDENCIES: "--all-groups"
     env_file:
       - .env
     ports:
       - "8000:8000"
     volumes:
       - ./:/app
     depends_on:
       - rabbit-forum-db
 
   rabbit-forum-db:
     image: postgres:18.0-alpine3.22
     env_file:
       - .env
     volumes:
       - ../rabbit_forum_db_data:/var/lib/postgresql/data
     healthcheck:
       test: ["CMD-SHELL", "pg_isready -U rabbit-forum"]
       interval: 5s
       timeout: 5s
       retries: 5

