{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}
{% block content %}
    <div class="register-bg">
        <div class="register-container">
            <h2 class="register-title">Registrarse</h2>
            <form method="post">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="error">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                <div class="form-group">
                    <label class="register-label" for="id_username">Usuario</label>
                    {{ form.username }}
                    {% if form.username.errors %}
                        <div class="error">{{ form.username.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="register-label" for="id_password1">Contraseña</label>
                    {{ form.password1 }}
                    {% if form.password1.errors %}
                        <div class="error">{{ form.password1.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="register-label" for="id_password2">Confirmar contraseña</label>
                    {{ form.password2 }}
                    {% if form.password2.errors %}
                        <div class="error">{{ form.password2.errors }}</div>
                    {% endif %}
                </div>
                <button class="register-btn" type="submit">Registrarse</button>
            </form>
        </div>
    </div>
{% endblock %}
